html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
  color: var(--color-p1);
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  color: var(--color-p1);

}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
table{
  border-collapse: collapse;
}
.conteiner{
  display: flex;
}
input,textarea{
  display: block;
  /* box-shadow: 
    5px 5px 8px var(--color-shadow) inset,
    -5px -5px 8px var(--color-light) inset; */
  background: var(--color-main);
  color: var(--color-p2);
  font-size: 16px;
  padding: 8px;
  border: none;
  line-height: 20px;
  border-radius: 15px;
}
select{
  font-size: 16px;
}
input[type='checkbox']{
  margin: 0 auto;
}
button{
  display: block;
  background: var(--color-main);
  /* box-shadow: 
    5px 5px 8px var(--color-shadow),
    -5px -5px 8px var(--color-light); */
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
  padding: 2px 20px;
  /* width: 70px; */
  height: 30px;
  border-radius: 25px;
  margin: 10px 10px 0 auto;
}
/* button:active{
  box-shadow: 
    5px 5px 8px var(--color-shadow) inset,
    -5px -5px 8px var(--color-light) inset;
  background: var(--color-accent);
  box-shadow: none;
  color: var(--color-main);
} */
input:focus,textarea:focus,button:focus{
  outline: none;
}
:root{
  --color-main:rgb(26, 26, 26);
  --color-light:rgba(255,255,255,0.1);
  --color-shadow:rgba(0,0,0,0.4);
  --color-p1:#eee;
  --color-p2:#999;
  --color-border:#444;
  --color-accent:rgb(56, 175, 253);
  /* --color-accent:rgb(255, 63, 95); */
  /* --color-accent:rgb(29, 218, 92); */
  /* --color-accent:rgb(171, 81, 255); */
}
[data-main='dark']{
  --color-main:rgb(27, 27, 27);
  --color-light:rgba(255,255,255,0.1);
  --color-shadow:rgba(0,0,0,0.4);
  --color-p1:#eee;
  --color-p2:#999;
  --color-border:#444;
}
[data-main='light']{
  --color-main:#EBECF0;
  --color-main:#f8f8ff;
  --color-light:rgb(255, 255, 255,0.6);
  --color-shadow:rgba(0,0,0,0.1);
  /* #BABECC シャドー */
  --color-p1:rgb(29, 29, 29);
  --color-p2:#999;
  --color-border:rgb(207, 214, 231);
}
[data-sub='blue']{
  --color-accent:rgb(71, 181, 255);
}
[data-sub='red']{
  --color-accent:rgb(255, 63, 95);
}
[data-sub='green']{
  --color-accent:rgb(29, 218, 92);
}
[data-sub='purple']{
  --color-accent:rgb(171, 81, 255);
}
body{
  background: var(--color-main);
  color: ver(--color-p1);
}
/* -----------------body-------------------------- */
.body{
  /* position: relative; */
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

/* --------------------メイン------------------------- */
.main{
  
  /* position: absolute; */

  height: 100vh;
  width: 100vw;
  background: var(--color-main);
  transition: .2s linear;
  font-size: 12px;
  
}
.main h2{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
.main_contents{
  height: calc(100% - 60px - 80px);
  /* padding-top: 80px; */
  overflow-x:scroll;
  width: 100vw;
  scroll-snap-type: x mandatory;
}
.main_contents::-webkit-scrollbar {
  display:none;
}
.main_conteiner{
  width: 100vw;
  height: 100%;
}
.main_content{
  padding-top: 20px;
}

/* --------------------メインヘッダー------------------------- */


.main .header{
  width: 100%;
  height: 80px;
  padding: 10px ;
  background: var(--color-main);
  border-bottom: 1px solid var(--color-border);
  

}
.header .option_menu{
  height: 100%;
  margin-left: auto;
  margin-right: 10px;
}

/* -------------------大会--------------------------------------------------------------- */
.my_result table{
  width: 100%;
  text-align: center;
}
.my_result table tr{
  border-bottom: 1px solid var(--color-border);
}
.my_result button{
  margin: 10px 10px 0 auto;
}


/* ------------------設定-------------------------------------------------------------- */

.setting{
  padding: 10px;
}
.setting h3{
  text-align: center;
  font-size: 16px;
}
input[type='radio']{
  display: inline;
}
.sumple{
  display: inline-block;
  /* height: 30px;
  width: 120px;
  border-radius: 25px;
  padding: 2px 20px;
  margin: 5px 0 5px 10px; */
}
/* .blue{
  border: rgb(71, 181, 255) 3px solid;
  color: rgb(71, 181, 255);
}
.red{
  border: solid 3px rgb(255, 63, 95);
  color: rgb(255, 63, 95);

}
.green{
  border: rgb(29, 218, 92) solid 3px;
  color: rgb(29, 218, 92);

}
.purple{
  border: solid rgb(171, 81, 255) 3px;
  color: rgb(171, 81, 255);

} */
.setting button{
  margin: 10px 10px 0 auto;
}

/* ----------------------form--------------------------------------------------------------- */


.edit{
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border-bottom: 1px solid var(--color-border);
}
.edit p{
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  
}
.form_button{
  color: var(--color-accent);
  /* background: var(--color-light); */
  margin-left: auto;
  margin-right: 10px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  transition: .3s linear;
}
.form{

  width: 100%;
  overflow-y: scroll;
  height: auto;
  max-height: 600px;
  transition: .4s linear;
  /* border-top: 1px solid var(--color-light); */
}
.form button{
  margin: 20px 10px 20px auto;
}

.form input{
  margin: 10px;
  display: inline;
}
.form label{
  display: block;
  font-size: 16px;
  color: var(--color-p2);
}

.form_active{
  /* display: none; */
  max-height: 0px;
}
.button_active{
  transform: rotate(-135deg);
}

/* ---------------------ナビ------------------------ */
.top_nav{
  width: 100%;
  color: var(--color-p2);
  /* border-top: 1px solid var(--color-light); */
  background: var(--color-main);
  transition: .3s linear ;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
}
.nav_item{
  /* padding: 20px 10px; */
  width: 50%;
  text-align: center;
  line-height: 80px;
  /* box-shadow: 8px 8px 8px var(--color-shadow),-8px -8px 8px var(--color-light); */
  border-bottom: 2px solid var(--color-border);
}
.nav_active{
  color: var(--color-accent);
  border-bottom: 2px solid var(--color-accent);
}

/* ---------------------フッターナビ------------------------ */


.footer_nav{
  position: fixed;
  /* bottom: -80px; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid var(--color-border);
  /* border-radius: 0 20px 20px 0 /20px; */
  background: var(--color-main);
  
}
.footer_nav_items{
  /* margin-top: 40px; */
  width: 100%;
  /* flex-direction: column; */
}
.footer_nav_item{
  /* opacity: .5; */
  width: 100%;
  height: 60px;
  color: var(--color-p1);
  /* border-left: 1px solid var(--color-light); */
}
.footer_nav .now h4 {
  color:var(--color-accent);
}


